body {
	overflow: hidden;
	height: 100%;
	width: 100%;
	font-family: sans-serif;
	width: 1000px;
	margin: 0 auto;
}

body.red .container {
	border-color: red;
}

.container {
	max-height: 100%;
	width: 100%;
	overflow: hidden;
	height: 500px;
	background-color: white;
	position: relative;
	border: 3px solid #999;
	border-radius: 0 0 3px 3px;
	border-top: none;
}

.gameOver {
	width: 200px;
	background-color: white;
	border-radius: 5px;
	text-align: center;
	padding: 20px;
	color: rgba(0,0,0,0.5);
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -120px;
	display: none;
	border: 1px solid #999;
}

.gameOver .title {
	font-size: 24px;
	margin-bottom: 40px;
	color: rgba(0,0,0,0.8);
	font-weight: bold;
}

.gameOver .refresh {
	font-size: 10px;
	margin-top: 40px;
	font-weight: bold;
}

.scoreboard {
	padding: 20px;
	color: rgba(0,0,0,0.5);
	font-size: 28px;
}

.score, .lives, .level, .fired, .spawned {
	color: rgba(0,0,0,0.8);
	font-weight: bold;
	margin-right: 10px;
}

.createdBy {
	float: right;
	font-size: 10px;
}

.character {
	height: 75px;
	width: 65px;
	position: absolute;
	top: 200px;
	left: 300px;
	transition: opacity 0.1s;
}

.character.dim {
	opacity: 0.3;
}

.han-solo {
	height: 1em;
	width: 1em;
	position: absolute;
	top: 35px;
	right: 40px;
	font-size: 4px;

	/* Body */
	box-shadow:
		-3em -8em 0 rgb(100,60,30),
		-2em -8em 0 rgb(100,60,30),
		-1em -8em 0 rgb(100,60,30),

		-4em -7em 0 rgb(100,60,30),
		-3em -7em 0 rgb(100,60,30),
		-2em -7em 0 rgb(100,60,30),
		-1em -7em 0 rgb(100,60,30),
		0 -7em 0 rgb(100,60,30),

		-4em -6em 0 rgb(100,60,30),
		-3em -6em 0 rgb(100,60,30),
		-2em -6em 0 rgb(250,185,120),
		-1em -6em 0 rgb(250,185,120),
		0 -6em 0 rgb(250,185,120),

		-4em -5em 0 rgb(100,60,30),
		-3em -5em 0 rgb(250,185,120),
		-2em -5em 0 black,
		-1em -5em 0 rgb(250,185,120),
		0 -5em 0 black,

		-4em -4em 0 rgb(100,60,30),
		-3em -4em 0 rgb(250,185,120),
		-2em -4em 0 rgb(250,185,120),
		-1em -4em 0 rgb(250,185,120),
		0 -4em 0 rgb(250,185,120),
		1em -4em 0 rgb(250,185,120),

		-4em -3em 0 rgb(250,185,120),
		-3em -3em 0 rgb(250,185,120),
		-2em -3em 0 rgb(250,185,120),
		-1em -3em 0 rgb(250,185,120),
		0 -3em 0 rgb(250,185,120),

		-4em -2em 0 rgb(100,60,30),
		-3em -2em 0 rgb(250,185,120),
		-2em -2em 0 rgb(250,185,120),

		6em -1em 0 black,
		5em -1em 0 black,
		-3em -1em 0 rgb(250,185,120),
		-2em -1em 0 rgb(250,185,120),
		-1em -1em 0 rgb(250,185,120),
		0 -1em 0 rgb(250,185,120),

		10em 0 0 black,
		9em 0 0 black,
		8em 0 0 black,
		7em 0 0 black,
		6em 0 0 black,
		5em 0 0 black,
		4em 0 0 black,
		-2em 0 0 rgb(250,185,120),
		-1em 0 0 rgb(250,185,120),

		-4em 1em 0 rgb(220,220,180),
		-3em 1em 0 black,
		-2em 1em 0 rgb(220,220,180),
		-1em 1em 0 rgb(250,185,120),
		0 1em 0 black,
		1em 1em 0 rgb(220,220,180),
		2em 1em 0 rgb(220,220,180),
		3em 1em 0 rgb(220,220,180),
		4em 1em 0 rgb(220,220,180),
		5em 1em 0 rgb(250,185,120),
		6em 1em 0 black,
		7em 1em 0 black,

		-5em 2em 0 rgb(220,220,180),
		-4em 2em 0 rgb(220,220,180),
		-3em 2em 0 black,
		-2em 2em 0 rgb(220,220,180),
		-1em 2em 0 rgb(220,220,180),
		0 2em 0 black,
		5em 2em 0 black,
		6em 2em 0 black,

		-5em 3em 0 rgb(220,220,180),
		-3em 3em 0 rgb(220,220,180),
		-2em 3em 0 rgb(220,220,180),
		-1em 3em 0 rgb(220,220,180),
		0 3em 0 rgb(220,220,180),

		-5em 4em 0 rgb(220,220,180),
		-3em 4em 0 black,
		-2em 4em 0 black,
		-1em 4em 0 grey,
		0 4em 0 black,

		-5em 5em 0 rgb(250,185,120),
		-3em 5em 0 black,
		-2em 5em 0 black,
		-1em 5em 0 black,
		0 5em 0 black,

		-3em 6em 0 black,
		0 6em 0 black,

		-3em 7em 0 black,
		0 7em 0 black,

		-3em 8em 0 black,
		0 8em 0 black,

		-3em 9em 0 black,
		-2em 9em 0 black,
		0 9em 0 black,
		1em 9em 0 black;
}

.character.rotate .han-solo {
	transform: rotateY(180deg);
	right: 20px;
}

.bullet {
	height: 4px;
	width: 20px;
	background-color: red;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 2px;
}

.enemy {
	height: 75px;
	width: 45px;
	position: absolute;
	top: 0;
	left: 0;
}

.vader {
	height: 1em;
	width: 1em;
	position: absolute;
	top: 35px;
	left: 28px;
	font-size: 4px;

	box-shadow:
		-7em -9em 0 red,

		-7em -8em 0 red,
		-3em -8em 0 black,
		-2em -8em 0 black,
		-1em -8em 0 black,

		-7em -7em 0 red,
		-4em -7em 0 black,
		-3em -7em 0 black,
		-2em -7em 0 black,
		-1em -7em 0 black,
		0 -7em 0 black,

		-7em -6em 0 red,
		-4em -6em 0 black,
		-3em -6em 0 black,
		-2em -6em 0 black,
		-1em -6em 0 black,
		0 -6em 0 black,

		-7em -5em 0 red,
		-4em -5em 0 red,
		-3em -5em 0 black,
		-2em -5em 0 red,
		-1em -5em 0 red,
		0 -5em 0 black,

		-7em -4em 0 red,
		-4em -4em 0 black,
		-3em -4em 0 rgb(120,120,120),
		-2em -4em 0 black,
		-1em -4em 0 black,
		0 -4em 0 rgb(54,54,54),

		-7em -3em 0 rgb(120,120,120),
		-4em -3em 0 black,
		-3em -3em 0 rgb(54,54,54),
		-2em -3em 0 black,
		-1em -3em 0 black,
		0 -3em 0 black,

		-7em -2em 0 black,
		-5em -2em 0 black,
		-4em -2em 0 rgb(54,54,54),
		-3em -2em 0 black,
		-2em -2em 0 rgb(54,54,54),
		-1em -2em 0 black,
		0 -2em 0 black,
		1em -2em 0 rgb(54,54,54),

		-7em -1em 0 rgb(120,120,120),
		-5em -1em 0 rgb(54,54,54),
		-4em -1em 0 black,
		-3em -1em 0 black,
		-2em -1em 0 black,
		-1em -1em 0 rgb(54,54,54),
		0 -1em 0 black,
		1em -1em 0 black,

		-7em 0 0 black,
		-3em 0 0 rgb(120,120,120),
		-2em 0 0 rgb(120,120,120),
		-1em 0 0 rgb(120,120,120),

		-7em 1em 0 black,
		-6em 1em 0 black,
		-5em 1em 0 black,
		-4em 1em 0 rgb(120,120,120),
		-3em 1em 0 black,
		-2em 1em 0 black,
		-1em 1em 0 black,
		0 1em 0 rgb(120,120,120),

		-5em 2em 0 rgb(54,54,54),
		-4em 2em 0 black,
		-3em 2em 0 black,
		-2em 2em 0 black,
		-1em 2em 0 black,
		0 2em 0 black,
		1em 2em 0 black,

		-5em 3em 0 rgb(54,54,54),
		-4em 3em 0 black,
		-3em 3em 0 rgb(120,120,120),
		-2em 3em 0 red,
		-1em 3em 0 black,
		0 3em 0 rgb(54,54,54),
		1em 3em 0 black,

		-5em 4em 0 rgb(54,54,54),
		-4em 4em 0 black,
		-3em 4em 0 black,
		-2em 4em 0 black,
		-1em 4em 0 black,
		0 4em 0 rgb(54,54,54),
		1em 4em 0 black,

		-4em 5em 0 black,
		-3em 5em 0 rgb(120,120,120),
		-2em 5em 0 rgb(120,120,120),
		-1em 5em 0 black,
		0 5em 0 rgb(54,54,54),
		1em 5em 0 black,

		-4em 6em 0 black,
		-3em 6em 0 black,
		-2em 6em 0 black,
		-1em 6em 0 black,
		0 6em 0 rgb(54,54,54),
		1em 6em 0 black,
		2em 6em 0 rgb(54,54,54),

		-4em 7em 0 black,
		-3em 7em 0 rgb(54,54,54),
		-2em 7em 0 rgb(54,54,54),
		-1em 7em 0 black,
		0 7em 0 rgb(54,54,54),
		1em 7em 0 rgb(54,54,54),
		2em 7em 0 rgb(54,54,54),

		-4em 8em 0 black,
		-2em 8em 0 rgb(54,54,54),
		-1em 8em 0 black,
		0 8em 0 rgb(54,54,54),
		1em 8em 0 rgb(54,54,54),
		2em 8em 0 rgb(54,54,54),
		3em 8em 0 rgb(54,54,54),

		-5em 9em 0 black,
		-4em 9em 0 black,
		-2em 9em 0 black,
		-1em 9em 0 black;
}

.enemy.right .vader {
	transform: rotateY(180deg);
	left: 12px;
}

.storm-trooper {
	height: 1em;
	width: 1em;
	position: absolute;
	top: 30px;
	left: 33px;
	font-size: 4px;

	/* Body */
	box-shadow:
		-4em -6em 0 rgb(230,230,230),
		-3em -6em 0 rgb(230,230,230),
		-2em -6em 0 rgb(230,230,230),
		-1em -6em 0 rgb(230,230,230),

		-4em -5em 0 black,
		-3em -5em 0 black,
		-2em -5em 0 black,
		-1em -5em 0 black,

		-4em -4em 0 black,
		-3em -4em 0 rgb(230,230,230),
		-2em -4em 0 black,
		-1em -4em 0 rgb(230,230,230),

		-5em -3em 0 rgb(230,230,230),
		-4em -3em 0 rgb(230,230,230),
		-3em -3em 0 rgb(180,180,180),
		-2em -3em 0 rgb(230,230,230),
		-1em -3em 0 rgb(230,230,230),
		0 -3em 0 rgb(230,230,230),

		-5em -2em 0 rgb(230,230,230),
		-4em -2em 0 rgb(180,180,180),
		-3em -2em 0 rgb(230,230,230),
		-2em -2em 0 rgb(180,180,180),
		-1em -2em 0 rgb(230,230,230),
		0 -2em 0 rgb(180,180,180),

		-5em -1em 0 rgb(230,230,230),
		-4em -1em 0 rgb(230,230,230),
		-3em -1em 0 black,
		-2em -1em 0 rgb(230,230,230),
		-1em -1em 0 rgb(230,230,230),
		0 -1em 0 rgb(230,230,230),

		-9em 0 0 black,
		-8em 0 0 black,
		-4em 0 0 rgb(54,54,54),
		-3em 0 0 black,
		-2em 0 0 rgb(54,54,54),
		-1em 0 0 rgb(230,230,230),

		-12em 1em 0 black,
		-11em 1em 0 black,
		-10em 1em 0 black,
		-9em 1em 0 black,
		-8em 1em 0 black,
		-7em 1em 0 black,
		-5em 1em 0 rgb(230,230,230),
		-4em 1em 0 rgb(230,230,230),
		-3em 1em 0 rgb(230,230,230),
		-2em 1em 0 rgb(230,230,230),
		-1em 1em 0 rgb(230,230,230),
		0 1em 0 rgb(230,230,230),

		-10em 2em 0 black,
		-9em 2em 0 rgb(230,230,230),
		-8em 2em 0 black,
		-7em 2em 0 rgb(230,230,230),
		-6em 2em 0 rgb(230,230,230),
		-5em 2em 0 rgb(230,230,230),
		-4em 2em 0 rgb(230,230,230),
		-3em 2em 0 rgb(230,230,230),
		-2em 2em 0 rgb(230,230,230),
		-1em 2em 0 rgb(230,230,230),
		0 2em 0 rgb(230,230,230),
		1em 2em 0 rgb(230,230,230),
		2em 2em 0 rgb(230,230,230),

		-8em 3em 0 black,
		-4em 3em 0 rgb(230,230,230),
		-3em 3em 0 rgb(230,230,230),
		-2em 3em 0 rgb(230,230,230),
		-1em 3em 0 rgb(230,230,230),
		2em 3em 0 rgb(230,230,230),

		-5em 4em 0 rgb(230,230,230),
		-4em 4em 0 rgb(180,180,180),
		-3em 4em 0 rgb(230,230,230),
		-2em 4em 0 rgb(180,180,180),
		-1em 4em 0 rgb(230,230,230),
		0 4em 0 rgb(180,180,180),
		2em 4em 0 rgb(230,230,230),

		-5em 5em 0 rgb(230,230,230),
		-4em 5em 0 rgb(180,180,180),
		-3em 5em 0 rgb(230,230,230),
		-2em 5em 0 rgb(180,180,180),
		-1em 5em 0 rgb(230,230,230),
		0 5em 0 rgb(180,180,180),
		2em 5em 0 black,

		-4em 6em 0 black,
		-3em 6em 0 rgb(230,230,230),
		-2em 6em 0 rgb(230,230,230),
		-1em 6em 0 black,
		2em 6em 0 rgb(230,230,230),

		-4em 7em 0 rgb(230,230,230),
		-1em 7em 0 rgb(230,230,230),

		-4em 8em 0 rgb(230,230,230),
		-1em 8em 0 rgb(230,230,230),

		-5em 9em 0 rgb(230,230,230),
		-4em 9em 0 rgb(230,230,230),
		-2em 9em 0 rgb(230,230,230),
		-1em 9em 0 rgb(230,230,230),

		-5em 10em 0 rgb(180,180,180),
		-4em 10em 0 rgb(180,180,180),
		-2em 10em 0 rgb(180,180,180),
		-1em 10em 0 rgb(180,180,180);
}

.fet {
	height: 1em;
	width: 1em;
	position: absolute;
	top: 23px;
	left: 52px;
	font-size: 4px;

	box-shadow:
		-6em -7em 0 black,
		-5em -7em 0 black,

		-6em -6em 0 rgb(180,180,180),

		-6em -5em 0 rgb(180,180,180),

		-6em -4em 0 rgb(180,180,180),
		-5em -4em 0 rgb(95,110,75),
		-4em -4em 0 rgb(95,110,75),
		-3em -4em 0 rgb(95,110,75),
		-2em -4em 0 rgb(95,110,75),
		1em -4em 0 rgb(54,54,54),

		-6em -3em 0 rgb(95,110,75),
		-5em -3em 0 rgb(95,110,75),
		-4em -3em 0 rgb(95,110,75),
		-3em -3em 0 rgb(95,110,75),
		-2em -3em 0 rgb(95,110,75),
		-1em -3em 0 rgb(95,110,75),
		1em -3em 0 rgb(54,54,54),
		2em -3em 0 rgb(54,54,54),

		-6em -2em 0 black,
		-5em -2em 0 black,
		-4em -2em 0 black,
		-3em -2em 0 black,
		-2em -2em 0 rgb(140,0,15),
		-1em -2em 0 rgb(95,110,75),
		1em -2em 0 rgb(54,54,54),

		-6em -1em 0 rgb(140,0,15),
		-5em -1em 0 black,
		-4em -1em 0 rgb(140,0,15),
		-3em -1em 0 rgb(140,0,15),
		-2em -1em 0 black,
		-1em -1em 0 rgb(95,110,75),
		1em -1em 0 rgb(54,54,54),

		-14em 0 0 black,
		-13em 0 0 black,
		-12em 0 0 black,
		-6em 0 0 rgb(140,0,15),
		-5em 0 0 black,
		-4em 0 0 rgb(140,0,15),
		-3em 0 0 rgb(180,180,180),
		-2em 0 0 black,
		-1em 0 0 rgb(95,110,75),
		1em 0 0 rgb(95,110,75),

		-13em 1em 0 black,
		-6em 1em 0 rgb(140,0,15),
		-5em 1em 0 black,
		-4em 1em 0 rgb(140,0,15),
		-3em 1em 0 rgb(180,180,180),
		-2em 1em 0 rgb(180,180,180),
		-1em 1em 0 rgb(95,110,75),
		0 1em 0 rgb(95,110,75),
		1em 1em 0 rgb(95,110,75),

		-17em 2em 0 black,
		-16em 2em 0 black,
		-15em 2em 0 black,
		-14em 2em 0 black,
		-13em 2em 0 black,
		-12em 2em 0 black,
		-5em 2em 0 rgb(100,60,30),
		-4em 2em 0 rgb(100,60,30),
		-3em 2em 0 rgb(100,60,30),
		-2em 2em 0 rgb(100,60,30),
		-1em 2em 0 rgb(100,60,30),
		0 2em 0 rgb(95,110,75),
		1em 2em 0 rgb(95,110,75),

		-15em 3em 0 black,
		-14em 3em 0 black,
		-13em 3em 0 black,
		-12em 3em 0 black,
		-11em 3em 0 black,
		-6em 3em 0 rgb(240,130,25),
		-5em 3em 0 rgb(180,180,180),
		-4em 3em 0 rgb(180,180,180),
		-3em 3em 0 rgb(180,180,180),
		-2em 3em 0 rgb(180,180,180),
		-1em 3em 0 rgb(240,130,25),
		0 3em 0 rgb(100,60,30),
		1em 3em 0 rgb(95,110,75),

		-11em 4em 0 rgb(180,180,180),
		-10em 4em 0 rgb(95,110,75),
		-9em 4em 0 rgb(95,110,75),
		-8em 4em 0 rgb(180,180,180),
		-7em 4em 0 rgb(240,130,25),
		-6em 4em 0 rgb(240,130,25),
		-5em 4em 0 rgb(95,110,75),
		-4em 4em 0 rgb(95,110,75),
		-3em 4em 0 rgb(95,110,75),
		-2em 4em 0 rgb(95,110,75),
		-1em 4em 0 rgb(240,130,25),
		0 4em 0 rgb(240,130,25),
		1em 4em 0 rgb(95,110,75),

		-11em 5em 0 black,
		-5em 5em 0 rgb(95,110,75),
		-4em 5em 0 rgb(95,110,75),
		-3em 5em 0 rgb(95,110,75),
		-2em 5em 0 rgb(95,110,75),
		-1em 5em 0 rgb(100,60,30),
		0 5em 0 rgb(180,180,180),
		1em 5em 0 rgb(95,110,75),

		-5em 6em 0 rgb(180,180,180),
		-4em 6em 0 rgb(95,110,75),
		-3em 6em 0 rgb(95,110,75),
		-2em 6em 0 rgb(180,180,180),
		-1em 6em 0 rgb(100,60,30),
		0 6em 0 rgb(95,110,75),

		-5em 7em 0 rgb(100,60,30),
		-4em 7em 0 rgb(100,60,30),
		-3em 7em 0 rgb(100,60,30),
		-2em 7em 0 rgb(100,60,30),
		-1em 7em 0 rgb(100,60,30),
		0 7em 0 rgb(180,180,180),

		-5em 8em 0 rgb(180,180,180),
		-4em 8em 0 rgb(95,110,75),
		-3em 8em 0 rgb(95,110,75),
		-2em 8em 0 rgb(180,180,180),
		-1em 8em 0 rgb(100,60,30),
		0 8em 0 rgb(100,60,30),

		-5em 9em 0 rgb(180,180,180),
		-2em 9em 0 rgb(180,180,180),
		-1em 9em 0 rgb(100,60,30),
		0 9em 0 rgb(100,60,30),

		-5em 10em 0 rgb(240,130,25),
		-2em 10em 0 rgb(240,130,25),
		-1em 10em 0 rgb(100,60,30),
		0 10em 0 rgb(100,60,30),

		-5em 11em 0 rgb(180,180,180),
		-2em 11em 0 rgb(180,180,180),
		0 11em 0 rgb(100,60,30),

		-6em 12em 0 rgb(54,54,54),
		-5em 12em 0 rgb(54,54,54),
		-3em 12em 0 rgb(54,54,54),
		-2em 12em 0 rgb(54,54,54);
}

.enemy.right .fet, .enemy.right .storm-trooper {
	transform: rotateY(180deg);
	left: 7px;
}

.ally {
	height: 1em;
	width: 1em;
	position: absolute;
	top: 40px;
	left: 38px;
	font-size: 4px;
	transform: rotateY(180deg);

	box-shadow:

		-2em -9em 0 rgb(117,76,36),
		-1em -9em 0 rgb(117,76,36),
		0 -9em 0 rgb(117,76,36),

		-3em -8em 0 rgb(117,76,36),
		-2em -8em 0 rgb(117,76,36),
		-1em -8em 0 rgb(252,198,137),
		0 -8em 0 rgb(117,76,36),
		1em -8em 0 rgb(117,76,36),

		-5em -7em 0 rgb(117,76,36),
		-4em -7em 0 rgb(117,76,36),
		-3em -7em 0 rgb(117,76,36),
		-2em -7em 0 rgb(252,198,137),
		-1em -7em 0 rgb(252,198,137),
		0 -7em 0 rgb(252,198,137),
		1em -7em 0 rgb(117,76,36),
		2em -7em 0 rgb(117,76,36),
		3em -7em 0 rgb(117,76,36),

		-5em -6em 0 rgb(117,76,36),
		-4em -6em 0 rgb(117,76,36),
		-3em -6em 0 rgb(252,198,137),
		-2em -6em 0 rgb(3,3,3),
		-1em -6em 0 rgb(252,198,137),
		0 -6em 0 rgb(3,3,3),
		1em -6em 0 rgb(252,198,137),
		2em -6em 0 rgb(117,76,36),
		3em -6em 0 rgb(117,76,36),

		-4em -5em 0 rgb(117,76,36),
		-3em -5em 0 rgb(252,198,137),
		-2em -5em 0 rgb(252,198,137),
		-1em -5em 0 rgb(252,198,137),
		0 -5em 0 rgb(252,198,137),
		1em -5em 0 rgb(252,198,137),
		2em -5em 0 rgb(117,76,36),

		-2em -4em 0 rgb(252,198,137),
		-1em -4em 0 rgb(242,108,79),
		0 -4em 0 rgb(242,108,79),
		6em -4em 0 rgb(3,3,3),
		7em -4em 0 rgb(3,3,3),
		8em -4em 0 rgb(3,3,3),
		9em -4em 0 rgb(3,3,3),
		10em -4em 0 rgb(3,3,3),

		-2em -3em 0 rgb(180,226,245),
		-1em -3em 0 rgb(180,226,245),
		4em -3em 0 rgb(3,3,3),
		5em -3em 0 rgb(3,3,3),
		6em -3em 0 rgb(3,3,3),
		7em -3em 0 rgb(3,3,3),
		8em -3em 0 rgb(3,3,3),

		-3em -2em 0 rgb(180,226,245),
		-2em -2em 0 rgb(180,226,245),
		-1em -2em 0 rgb(180,226,245),
		0 -2em 0 rgb(180,226,245),
		1em -2em 0 rgb(180,226,245),
		2em -2em 0 rgb(180,226,245),
		3em -2em 0 rgb(180,226,245),
		4em -2em 0 rgb(180,226,245),
		5em -2em 0 rgb(252,198,137),

		-4em -1em 0 rgb(180,226,245),
		-3em -1em 0 rgb(180,226,245),
		-2em -1em 0 rgb(180,226,245),
		-1em -1em 0 rgb(180,226,245),
		0 -1em 0 rgb(180,226,245),
		2em -1em 0 rgb(180,226,245),
		3em -1em 0 rgb(180,226,245),
		4em -1em 0 rgb(180,226,245),
		5em -1em 0 rgb(3,3,3),

		-5em 0 0 rgb(180,226,245),
		-4em 0 0 rgb(180,226,245),
		-2em 0 0 rgb(117,76,36),
		-1em 0 0 rgb(117,76,36),
		4em 0 0 rgb(180,226,245),

		-6em 1em 0 rgb(180,226,245),
		-5em 1em 0 rgb(180,226,245),
		-2em 1em 0 rgb(180,226,245),
		-1em 1em 0 rgb(180,226,245),

		-6em 2em 0 rgb(180,226,245),
		-5em 2em 0 rgb(252,198,137),
		-3em 2em 0 rgb(180,226,245),
		-2em 2em 0 rgb(180,226,245),
		-1em 2em 0 rgb(180,226,245),
		0 2em 0 rgb(180,226,245),

		-3em 3em 0 rgb(180,226,245),
		-2em 3em 0 rgb(180,226,245),
		-1em 3em 0 rgb(180,226,245),
		0 3em 0 rgb(180,226,245),

		-4em 4em 0 rgb(180,226,245),
		-3em 4em 0 rgb(180,226,245),
		-2em 4em 0 rgb(180,226,245),
		-1em 4em 0 rgb(180,226,245),
		0 4em 0 rgb(180,226,245),

		-4em 5em 0 rgb(180,226,245),
		-3em 5em 0 rgb(180,226,245),
		-2em 5em 0 rgb(180,226,245),
		-1em 5em 0 rgb(180,226,245),
		0 5em 0 rgb(180,226,245),

		-4em 6em 0 rgb(180,226,245),
		-3em 6em 0 rgb(180,226,245),
		-2em 6em 0 rgb(180,226,245),
		-1em 6em 0 rgb(180,226,245),
		0 6em 0 rgb(180,226,245),

		-3em 7em 0 rgb(180,226,245),
		-2em 7em 0 rgb(180,226,245),
		0 7em 0 rgb(180,226,245),
		1em 7em 0 rgb(180,226,245);
}

.enemy.right .ally {
	transform: none;
	left: 22px;
}

.remove {
	display: none;
}
