.buzz {
	height: 1em;
	width: 1em;
	position: absolute;
	top: 40px;
	right: 0;
	font-size: 4px;

	/* Body */
	box-shadow:
		-2em -11em 0 rgb(230, 220, 117),
		-3em -11em 0 rgb(230, 220, 117),
		-4em -11em 0 rgb(230, 220, 117),
		-5em -11em 0 rgb(230, 220, 117),

		-1em -10em 0 rgb(230, 220, 117),
		-2em -10em 0 rgb(230, 220, 117),
		-3em -10em 0 rgb(230, 220, 117),
		-4em -10em 0 rgb(230, 220, 117),
		-5em -10em 0 rgb(230, 220, 117),
		-6em -10em 0 rgb(230, 220, 117),

		-1em -9em 0 rgb(250,185,120),
		-2em -9em 0 rgb(250,185,120),
		-3em -9em 0 rgb(250,185,120),
		-4em -9em 0 rgb(250,185,120),
		-5em -9em 0 rgb(230, 220, 117),
		-6em -9em 0 rgb(230, 220, 117),

		-1em -8em 0 rgb(72, 72, 62),
		-2em -8em 0 rgb(250,185,120),
		-3em -8em 0 rgb(72, 72, 62),
		-4em -8em 0 rgb(250,185,120),
		-5em -8em 0 rgb(230, 220, 117),
		-6em -8em 0 rgb(230, 220, 117),

		0 -7em 0 rgb(250,185,120),
		-1em -7em 0 rgb(250,185,120),
		-2em -7em 0 rgb(250,185,120),
		-3em -7em 0 rgb(250,185,120),
		-4em -7em 0 rgb(250,185,120),
		-5em -7em 0 rgb(230, 220, 117),
		-6em -7em 0 rgb(250,185,120),

		-1em -6em 0 rgb(250,185,120),
		-2em -6em 0 rgb(250,185,120),
		-3em -6em 0 rgb(250,185,120),
		-4em -6em 0 rgb(250,185,120),
		-5em -6em 0 rgb(250,185,120),
		-6em -6em 0 rgb(250,185,120),

		-3em -5em 0 rgb(250,185,120),
		-4em -5em 0 rgb(250,185,120),
		-5em -5em 0 rgb(250,185,120),

		-1em -4em 0 rgb(250,185,120),
		-2em -4em 0 rgb(250,185,120),
		-3em -4em 0 rgb(250,185,120),
		-4em -4em 0 rgb(250,185,120),

		9em -3em 0 rgb(72, 72, 62),
		8em -3em 0 rgb(72, 72, 62),
		7em -3em 0 rgb(72, 72, 62),
		6em -3em 0 rgb(72, 72, 62),
		5em -3em 0 rgb(110, 200, 44),
		4em -3em 0 rgb(110, 200, 44),
		3em -3em 0 rgb(110, 200, 44),
		2em -3em 0 rgb(72, 72, 62),
		-2em -3em 0 rgb(250,185,120),
		-3em -3em 0 rgb(250,185,120),
		-4em -3em 0 rgb(250,185,120),
		-5em -3em 0 rgb(72, 72, 62),
		-6em -3em 0 rgb(72, 72, 62),
		-7em -3em 0 rgb(118, 113, 94),

		9em -2em 0 rgb(72, 72, 62),
		8em -2em 0 rgb(72, 72, 62),
		7em -2em 0 rgb(72, 72, 62),
		6em -2em 0 rgb(72, 72, 62),
		5em -2em 0 rgb(72, 72, 62),
		4em -2em 0 rgb(72, 72, 62),
		3em -2em 0 rgb(72, 72, 62),
		2em -2em 0 rgb(72, 72, 62),
		-1em -2em 0 rgb(72, 72, 62),
		-2em -2em 0 rgb(250,185,120),
		-3em -2em 0 rgb(250,185,120),
		-4em -2em 0 rgb(72, 72, 62),
		-5em -2em 0 rgb(72, 72, 62),
		-6em -2em 0 rgb(72, 72, 62),
		-7em -2em 0 rgb(118, 113, 94),

		6em -1em 0 rgb(72, 72, 62),
		5em -1em 0 rgb(72, 72, 62),
		4em -1em 0 rgb(250,185,120),
		3em -1em 0 rgb(118, 113, 94),
		2em -1em 0 rgb(207, 208, 194),
		1em -1em 0 rgb(207, 208, 194),
		0 -1em 0 rgb(207, 208, 194),
		-1em -1em 0 rgb(72, 72, 62),
		-2em -1em 0 rgb(207, 208, 194),
		-3em -1em 0 rgb(207, 208, 194),
		-4em -1em 0 rgb(72, 72, 62),
		-5em -1em 0 rgb(207, 208, 194),
		-6em -1em 0 rgb(72, 72, 62),
		-7em -1em 0 rgb(118, 113, 94),

		5em 0 0 rgb(72, 72, 62),
		4em 0 0 rgb(72, 72, 62),
		-1em 0 0 rgb(72, 72, 62),
		-2em 0 0 rgb(247, 35, 114),
		-3em 0 0 rgb(207, 208, 194),
		-4em 0 0 rgb(72, 72, 62),
		-5em 0 0 rgb(72, 72, 62),
		-6em 0 0 rgb(207, 208, 194),
		-7em 0 0 rgb(118, 113, 94),

		-1em 1em 0 rgb(207, 208, 194),
		-2em 1em 0 rgb(207, 208, 194),
		-3em 1em 0 rgb(207, 208, 194),
		-4em 1em 0 rgb(207, 208, 194),
		-5em 1em 0 rgb(72, 72, 62),
		-6em 1em 0 rgb(207, 208, 194),
		-7em 1em 0 rgb(118, 113, 94),

		-1em 2em 0 rgb(207, 208, 194),
		-2em 2em 0 rgb(207, 208, 194),
		-3em 2em 0 rgb(207, 208, 194),
		-4em 2em 0 rgb(207, 208, 194),
		-6em 2em 0 rgb(207, 208, 194),
		-7em 2em 0 rgb(167, 228, 46),

		-1em 3em 0 rgb(118, 113, 94),
		-2em 3em 0 rgb(72, 72, 62),
		-3em 3em 0 rgb(118, 113, 94),
		-4em 3em 0 rgb(118, 113, 94),
		-6em 3em 0 rgb(118, 113, 94),
		-7em 3em 0 rgb(167, 228, 46),
		-8em 3em 0 rgb(110, 201, 44),

		-1em 4em 0 rgb(207, 208, 194),
		-2em 4em 0 rgb(207, 208, 194),
		-3em 4em 0 rgb(207, 208, 194),
		-4em 4em 0 rgb(207, 208, 194),
		-6em 4em 0 rgb(250,185,120),
		-7em 4em 0 rgb(110, 201, 44),
		-8em 4em 0 rgb(110, 201, 44),

		-1em 5em 0 rgb(207, 208, 194),
		-4em 5em 0 rgb(207, 208, 194),
		-7em 5em 0 rgb(110, 201, 44),

		-1em 6em 0 rgb(72, 72, 62),
		-4em 6em 0 rgb(72, 72, 62),

		-1em 7em 0 rgb(72, 72, 62),
		-4em 7em 0 rgb(72, 72, 62),

		0 8em 0 rgb(72, 72, 62),
		-1em 8em 0 rgb(72, 72, 62),
		-3em 8em 0 rgb(72, 72, 62),
		-4em 8em 0 rgb(72, 72, 62);
}

.ghost-purple {
	height: 1em;
	width: 1em;
	position: absolute;
	top: 37px;
	left: 24px;
	font-size: 4px;
	opacity: 0.5;

	/* Body */
	box-shadow:
		-2em -9em 0 rgb(148, 80, 254),
		-1em -9em 0 rgb(148, 80, 254),
		0 -9em 0 rgb(148, 80, 254),
		2em -9em 0 rgb(148, 80, 254),

		-3em -8em 0 rgb(148, 80, 254),
		-2em -8em 0 rgb(148, 80, 254),
		-1em -8em 0 rgb(148, 80, 254),

		-4em -7em 0 rgb(148, 80, 254),
		-3em -7em 0 rgb(148, 80, 254),
		-2em -7em 0 rgb(148, 80, 254),
		-1em -7em 0 rgb(148, 80, 254),
		0 -7em 0 rgb(148, 80, 254),

		-4em -6em 0 rgb(148, 80, 254),
		-3em -6em 0 rgb(148, 80, 254),
		-2em -6em 0 rgb(148, 80, 254),
		-1em -6em 0 white,
		0 -6em 0 rgb(148, 80, 254),

		-4em -5em 0 white,
		-3em -5em 0 rgb(148, 80, 254),
		-2em -5em 0 white,
		-1em -5em 0 white,
		0 -5em 0 rgb(148, 80, 254),

		-4em -4em 0 rgb(148, 80, 254),
		-3em -4em 0 rgb(148, 80, 254),
		-2em -4em 0 rgb(148, 80, 254),
		-1em -4em 0 rgb(148, 80, 254),
		0 -4em 0 rgb(148, 80, 254),

		-4em -3em 0 rgb(148, 80, 254),
		-3em -3em 0 rgb(148, 80, 254),
		-2em -3em 0 rgb(148, 80, 254),
		-1em -3em 0 rgb(148, 80, 254),
		0 -3em 0 rgb(148, 80, 254),
		1em -3em 0 rgb(118, 113, 94),

		-5em -2em 0 rgb(72, 72, 62),
		-4em -2em 0 rgb(72, 72, 62),
		-3em -2em 0 rgb(148, 80, 254),
		-2em -2em 0 rgb(148, 80, 254),
		-1em -2em 0 rgb(148, 80, 254),
		0 -2em 0 rgb(72, 72, 62),
		1em -2em 0 rgb(72, 72, 62),
		3em -2em 0 rgb(118, 113, 94),

		-6em -1em 0 rgb(72, 72, 62),
		-4em -1em 0 rgb(118, 113, 94),
		-3em -1em 0 rgb(72, 72, 62),
		-2em -1em 0 rgb(148, 80, 254),
		-1em -1em 0 rgb(72, 72, 62),
		0 -1em 0 rgb(72, 72, 62),

		-4em 0 0 rgb(72, 72, 62),
		-3em 0 0 rgb(118, 113, 94),
		-2em 0 0 rgb(72, 72, 62),
		-1em 0 0 rgb(72, 72, 62),
		1em 0 0 rgb(72, 72, 62),

		-6em 1em 0 rgb(148, 80, 254),
		-5em 1em 0 rgb(148, 80, 254),
		-4em 1em 0 rgb(72, 72, 62),
		-3em 1em 0 rgb(72, 72, 62),
		-2em 1em 0 rgb(72, 72, 62),
		-1em 1em 0 rgb(118, 113, 94),
		0 1em 0 rgb(72, 72, 62),

		-5em 2em 0 rgb(72, 72, 62),
		-4em 2em 0 rgb(72, 72, 62),
		-3em 2em 0 rgb(148, 80, 254),
		-2em 2em 0 rgb(72, 72, 62),
		-1em 2em 0 rgb(72, 72, 62),
		0 2em 0 rgb(118, 113, 94),

		-6em 3em 0 rgb(148, 80, 254),
		-5em 3em 0 rgb(148, 80, 254),
		-4em 3em 0 rgb(148, 80, 254),
		-3em 3em 0 rgb(72, 72, 62),
		-2em 3em 0 rgb(118, 113, 94),
		-1em 3em 0 rgb(72, 72, 62),

		-5em 4em 0 rgb(72, 72, 62),
		-4em 4em 0 rgb(72, 72, 62),
		-3em 4em 0 rgb(72, 72, 62),
		-2em 4em 0 rgb(72, 72, 62),
		-1em 4em 0 rgb(72, 72, 62),
		0 4em 0 rgb(72, 72, 62),
		2em 4em 0 rgb(72, 72, 62),

		-4em 5em 0 rgb(118, 113, 94),
		-3em 5em 0 rgb(72, 72, 62),
		-2em 5em 0 rgb(72, 72, 62),
		-1em 5em 0 rgb(72, 72, 62),
		0 5em 0 rgb(72, 72, 62),

		-4em 6em 0 rgb(72, 72, 62),
		-3em 6em 0 rgb(72, 72, 62),
		-2em 6em 0 rgb(118, 113, 94),
		-1em 6em 0 rgb(72, 72, 62),
		0 6em 0 rgb(72, 72, 62),
		1em 6em 0 rgb(72, 72, 62),

		-3em 7em 0 rgb(72, 72, 62),
		-2em 7em 0 rgb(72, 72, 62),
		-1em 7em 0 rgb(72, 72, 62),
		0 7em 0 rgb(72, 72, 62),
		1em 7em 0 rgb(72, 72, 62),
		2em 7em 0 rgb(72, 72, 62),

		-2em 8em 0 rgb(118, 113, 94),
		-1em 8em 0 rgb(118, 113, 94),
		0 8em 0 rgb(72, 72, 62),
		1em 8em 0 rgb(72, 72, 62),
		2em 8em 0 rgb(72, 72, 62),
		3em 8em 0 rgb(72, 72, 62);
}

.ghost-orange {
	height: 1em;
	width: 1em;
	position: absolute;
	top: 37px;
	left: 24px;
	font-size: 4px;
	opacity: 0.5;

	/* Body */
	box-shadow:
		-2em -9em 0 rgb(252, 152, 32),
		-1em -9em 0 rgb(252, 152, 32),
		0 -9em 0 rgb(252, 152, 32),
		2em -9em 0 rgb(252, 152, 32),

		-3em -8em 0 rgb(252, 152, 32),
		-2em -8em 0 rgb(252, 152, 32),
		-1em -8em 0 rgb(252, 152, 32),

		-4em -7em 0 rgb(252, 152, 32),
		-3em -7em 0 rgb(252, 152, 32),
		-2em -7em 0 rgb(252, 152, 32),
		-1em -7em 0 rgb(252, 152, 32),
		0 -7em 0 rgb(252, 152, 32),

		-4em -6em 0 rgb(252, 152, 32),
		-3em -6em 0 rgb(252, 152, 32),
		-2em -6em 0 rgb(252, 152, 32),
		-1em -6em 0 white,
		0 -6em 0 rgb(252, 152, 32),

		-4em -5em 0 white,
		-3em -5em 0 rgb(252, 152, 32),
		-2em -5em 0 white,
		-1em -5em 0 white,
		0 -5em 0 rgb(252, 152, 32),

		-4em -4em 0 rgb(252, 152, 32),
		-3em -4em 0 rgb(252, 152, 32),
		-2em -4em 0 rgb(252, 152, 32),
		-1em -4em 0 rgb(252, 152, 32),
		0 -4em 0 rgb(252, 152, 32),

		-4em -3em 0 rgb(252, 152, 32),
		-3em -3em 0 rgb(252, 152, 32),
		-2em -3em 0 rgb(252, 152, 32),
		-1em -3em 0 rgb(252, 152, 32),
		0 -3em 0 rgb(252, 152, 32),
		1em -3em 0 rgb(118, 113, 94),

		-5em -2em 0 rgb(72, 72, 62),
		-4em -2em 0 rgb(72, 72, 62),
		-3em -2em 0 rgb(252, 152, 32),
		-2em -2em 0 rgb(252, 152, 32),
		-1em -2em 0 rgb(252, 152, 32),
		0 -2em 0 rgb(72, 72, 62),
		1em -2em 0 rgb(72, 72, 62),
		3em -2em 0 rgb(118, 113, 94),

		-6em -1em 0 rgb(72, 72, 62),
		-4em -1em 0 rgb(118, 113, 94),
		-3em -1em 0 rgb(72, 72, 62),
		-2em -1em 0 rgb(252, 152, 32),
		-1em -1em 0 rgb(72, 72, 62),
		0 -1em 0 rgb(72, 72, 62),

		-4em 0 0 rgb(72, 72, 62),
		-3em 0 0 rgb(118, 113, 94),
		-2em 0 0 rgb(72, 72, 62),
		-1em 0 0 rgb(72, 72, 62),
		1em 0 0 rgb(72, 72, 62),

		-6em 1em 0 rgb(252, 152, 32),
		-5em 1em 0 rgb(252, 152, 32),
		-4em 1em 0 rgb(72, 72, 62),
		-3em 1em 0 rgb(72, 72, 62),
		-2em 1em 0 rgb(72, 72, 62),
		-1em 1em 0 rgb(118, 113, 94),
		0 1em 0 rgb(72, 72, 62),

		-5em 2em 0 rgb(72, 72, 62),
		-4em 2em 0 rgb(72, 72, 62),
		-3em 2em 0 rgb(252, 152, 32),
		-2em 2em 0 rgb(72, 72, 62),
		-1em 2em 0 rgb(72, 72, 62),
		0 2em 0 rgb(118, 113, 94),

		-6em 3em 0 rgb(252, 152, 32),
		-5em 3em 0 rgb(252, 152, 32),
		-4em 3em 0 rgb(252, 152, 32),
		-3em 3em 0 rgb(72, 72, 62),
		-2em 3em 0 rgb(118, 113, 94),
		-1em 3em 0 rgb(72, 72, 62),

		-5em 4em 0 rgb(72, 72, 62),
		-4em 4em 0 rgb(72, 72, 62),
		-3em 4em 0 rgb(72, 72, 62),
		-2em 4em 0 rgb(72, 72, 62),
		-1em 4em 0 rgb(72, 72, 62),
		0 4em 0 rgb(72, 72, 62),
		2em 4em 0 rgb(72, 72, 62),

		-4em 5em 0 rgb(118, 113, 94),
		-3em 5em 0 rgb(72, 72, 62),
		-2em 5em 0 rgb(72, 72, 62),
		-1em 5em 0 rgb(72, 72, 62),
		0 5em 0 rgb(72, 72, 62),

		-4em 6em 0 rgb(72, 72, 62),
		-3em 6em 0 rgb(72, 72, 62),
		-2em 6em 0 rgb(118, 113, 94),
		-1em 6em 0 rgb(72, 72, 62),
		0 6em 0 rgb(72, 72, 62),
		1em 6em 0 rgb(72, 72, 62),

		-3em 7em 0 rgb(72, 72, 62),
		-2em 7em 0 rgb(72, 72, 62),
		-1em 7em 0 rgb(72, 72, 62),
		0 7em 0 rgb(72, 72, 62),
		1em 7em 0 rgb(72, 72, 62),
		2em 7em 0 rgb(72, 72, 62),

		-2em 8em 0 rgb(118, 113, 94),
		-1em 8em 0 rgb(118, 113, 94),
		0 8em 0 rgb(72, 72, 62),
		1em 8em 0 rgb(72, 72, 62),
		2em 8em 0 rgb(72, 72, 62),
		3em 8em 0 rgb(72, 72, 62);
}

.ghost-blue {
	height: 1em;
	width: 1em;
	position: absolute;
	top: 37px;
	left: 24px;
	font-size: 4px;
	opacity: 0.5;

	/* Body */
	box-shadow:
		-2em -9em 0 rgb(107, 217, 238),
		-1em -9em 0 rgb(107, 217, 238),
		0 -9em 0 rgb(107, 217, 238),
		2em -9em 0 rgb(107, 217, 238),

		-3em -8em 0 rgb(107, 217, 238),
		-2em -8em 0 rgb(107, 217, 238),
		-1em -8em 0 rgb(107, 217, 238),

		-4em -7em 0 rgb(107, 217, 238),
		-3em -7em 0 rgb(107, 217, 238),
		-2em -7em 0 rgb(107, 217, 238),
		-1em -7em 0 rgb(107, 217, 238),
		0 -7em 0 rgb(107, 217, 238),

		-4em -6em 0 rgb(107, 217, 238),
		-3em -6em 0 rgb(107, 217, 238),
		-2em -6em 0 rgb(107, 217, 238),
		-1em -6em 0 white,
		0 -6em 0 rgb(107, 217, 238),

		-4em -5em 0 white,
		-3em -5em 0 rgb(107, 217, 238),
		-2em -5em 0 white,
		-1em -5em 0 white,
		0 -5em 0 rgb(107, 217, 238),

		-4em -4em 0 rgb(107, 217, 238),
		-3em -4em 0 rgb(107, 217, 238),
		-2em -4em 0 rgb(107, 217, 238),
		-1em -4em 0 rgb(107, 217, 238),
		0 -4em 0 rgb(107, 217, 238),

		-4em -3em 0 rgb(107, 217, 238),
		-3em -3em 0 rgb(107, 217, 238),
		-2em -3em 0 rgb(107, 217, 238),
		-1em -3em 0 rgb(107, 217, 238),
		0 -3em 0 rgb(107, 217, 238),
		1em -3em 0 rgb(118, 113, 94),

		-5em -2em 0 rgb(72, 72, 62),
		-4em -2em 0 rgb(72, 72, 62),
		-3em -2em 0 rgb(107, 217, 238),
		-2em -2em 0 rgb(107, 217, 238),
		-1em -2em 0 rgb(107, 217, 238),
		0 -2em 0 rgb(72, 72, 62),
		1em -2em 0 rgb(72, 72, 62),
		3em -2em 0 rgb(118, 113, 94),

		-6em -1em 0 rgb(72, 72, 62),
		-4em -1em 0 rgb(118, 113, 94),
		-3em -1em 0 rgb(72, 72, 62),
		-2em -1em 0 rgb(107, 217, 238),
		-1em -1em 0 rgb(72, 72, 62),
		0 -1em 0 rgb(72, 72, 62),

		-4em 0 0 rgb(72, 72, 62),
		-3em 0 0 rgb(118, 113, 94),
		-2em 0 0 rgb(72, 72, 62),
		-1em 0 0 rgb(72, 72, 62),
		1em 0 0 rgb(72, 72, 62),

		-6em 1em 0 rgb(107, 217, 238),
		-5em 1em 0 rgb(107, 217, 238),
		-4em 1em 0 rgb(72, 72, 62),
		-3em 1em 0 rgb(72, 72, 62),
		-2em 1em 0 rgb(72, 72, 62),
		-1em 1em 0 rgb(118, 113, 94),
		0 1em 0 rgb(72, 72, 62),

		-5em 2em 0 rgb(72, 72, 62),
		-4em 2em 0 rgb(72, 72, 62),
		-3em 2em 0 rgb(107, 217, 238),
		-2em 2em 0 rgb(72, 72, 62),
		-1em 2em 0 rgb(72, 72, 62),
		0 2em 0 rgb(118, 113, 94),

		-6em 3em 0 rgb(107, 217, 238),
		-5em 3em 0 rgb(107, 217, 238),
		-4em 3em 0 rgb(107, 217, 238),
		-3em 3em 0 rgb(72, 72, 62),
		-2em 3em 0 rgb(118, 113, 94),
		-1em 3em 0 rgb(72, 72, 62),

		-5em 4em 0 rgb(72, 72, 62),
		-4em 4em 0 rgb(72, 72, 62),
		-3em 4em 0 rgb(72, 72, 62),
		-2em 4em 0 rgb(72, 72, 62),
		-1em 4em 0 rgb(72, 72, 62),
		0 4em 0 rgb(72, 72, 62),
		2em 4em 0 rgb(72, 72, 62),

		-4em 5em 0 rgb(118, 113, 94),
		-3em 5em 0 rgb(72, 72, 62),
		-2em 5em 0 rgb(72, 72, 62),
		-1em 5em 0 rgb(72, 72, 62),
		0 5em 0 rgb(72, 72, 62),

		-4em 6em 0 rgb(72, 72, 62),
		-3em 6em 0 rgb(72, 72, 62),
		-2em 6em 0 rgb(118, 113, 94),
		-1em 6em 0 rgb(72, 72, 62),
		0 6em 0 rgb(72, 72, 62),
		1em 6em 0 rgb(72, 72, 62),

		-3em 7em 0 rgb(72, 72, 62),
		-2em 7em 0 rgb(72, 72, 62),
		-1em 7em 0 rgb(72, 72, 62),
		0 7em 0 rgb(72, 72, 62),
		1em 7em 0 rgb(72, 72, 62),
		2em 7em 0 rgb(72, 72, 62),

		-2em 8em 0 rgb(118, 113, 94),
		-1em 8em 0 rgb(118, 113, 94),
		0 8em 0 rgb(72, 72, 62),
		1em 8em 0 rgb(72, 72, 62),
		2em 8em 0 rgb(72, 72, 62),
		3em 8em 0 rgb(72, 72, 62);
}

.han-solo {
	height: 1em;
	width: 1em;
	position: absolute;
	top: 35px;
	right: 5px;
	font-size: 4px;

	/* Body */
	box-shadow:
		-3em -8em 0 rgb(100,60,30),
		-2em -8em 0 rgb(100,60,30),
		-1em -8em 0 rgb(100,60,30),

		-4em -7em 0 rgb(100,60,30),
		-3em -7em 0 rgb(100,60,30),
		-2em -7em 0 rgb(100,60,30),
		-1em -7em 0 rgb(100,60,30),
		0 -7em 0 rgb(100,60,30),

		-4em -6em 0 rgb(100,60,30),
		-3em -6em 0 rgb(100,60,30),
		-2em -6em 0 rgb(250,185,120),
		-1em -6em 0 rgb(250,185,120),
		0 -6em 0 rgb(250,185,120),

		-4em -5em 0 rgb(100,60,30),
		-3em -5em 0 rgb(250,185,120),
		-2em -5em 0 black,
		-1em -5em 0 rgb(250,185,120),
		0 -5em 0 black,

		-4em -4em 0 rgb(100,60,30),
		-3em -4em 0 rgb(250,185,120),
		-2em -4em 0 rgb(250,185,120),
		-1em -4em 0 rgb(250,185,120),
		0 -4em 0 rgb(250,185,120),
		1em -4em 0 rgb(250,185,120),

		-4em -3em 0 rgb(250,185,120),
		-3em -3em 0 rgb(250,185,120),
		-2em -3em 0 rgb(250,185,120),
		-1em -3em 0 rgb(250,185,120),
		0 -3em 0 rgb(250,185,120),

		-4em -2em 0 rgb(100,60,30),
		-3em -2em 0 rgb(250,185,120),
		-2em -2em 0 rgb(250,185,120),

		6em -1em 0 black,
		5em -1em 0 black,
		-3em -1em 0 rgb(250,185,120),
		-2em -1em 0 rgb(250,185,120),
		-1em -1em 0 rgb(250,185,120),
		0 -1em 0 rgb(250,185,120),

		10em 0 0 black,
		9em 0 0 black,
		8em 0 0 black,
		7em 0 0 black,
		6em 0 0 black,
		5em 0 0 black,
		4em 0 0 black,
		-2em 0 0 rgb(250,185,120),
		-1em 0 0 rgb(250,185,120),

		-4em 1em 0 rgb(220,220,180),
		-3em 1em 0 black,
		-2em 1em 0 rgb(220,220,180),
		-1em 1em 0 rgb(250,185,120),
		0 1em 0 black,
		1em 1em 0 rgb(220,220,180),
		2em 1em 0 rgb(220,220,180),
		3em 1em 0 rgb(220,220,180),
		4em 1em 0 rgb(220,220,180),
		5em 1em 0 rgb(250,185,120),
		6em 1em 0 black,
		7em 1em 0 black,

		-5em 2em 0 rgb(220,220,180),
		-4em 2em 0 rgb(220,220,180),
		-3em 2em 0 black,
		-2em 2em 0 rgb(220,220,180),
		-1em 2em 0 rgb(220,220,180),
		0 2em 0 black,
		5em 2em 0 black,
		6em 2em 0 black,

		-5em 3em 0 rgb(220,220,180),
		-3em 3em 0 rgb(220,220,180),
		-2em 3em 0 rgb(220,220,180),
		-1em 3em 0 rgb(220,220,180),
		0 3em 0 rgb(220,220,180),

		-5em 4em 0 rgb(220,220,180),
		-3em 4em 0 black,
		-2em 4em 0 black,
		-1em 4em 0 grey,
		0 4em 0 black,

		-5em 5em 0 rgb(250,185,120),
		-3em 5em 0 black,
		-2em 5em 0 black,
		-1em 5em 0 black,
		0 5em 0 black,

		-3em 6em 0 black,
		0 6em 0 black,

		-3em 7em 0 black,
		0 7em 0 black,

		-3em 8em 0 black,
		0 8em 0 black,

		-3em 9em 0 black,
		-2em 9em 0 black,
		0 9em 0 black,
		1em 9em 0 black;
}

.vader {
	height: 1em;
	width: 1em;
	position: absolute;
	top: 35px;
	left: 20px;
	font-size: 4px;

	box-shadow:
		-7em -9em 0 red,

		-7em -8em 0 red,
		-3em -8em 0 black,
		-2em -8em 0 black,
		-1em -8em 0 black,

		-7em -7em 0 red,
		-4em -7em 0 black,
		-3em -7em 0 black,
		-2em -7em 0 black,
		-1em -7em 0 black,
		0 -7em 0 black,

		-7em -6em 0 red,
		-4em -6em 0 black,
		-3em -6em 0 black,
		-2em -6em 0 black,
		-1em -6em 0 black,
		0 -6em 0 black,

		-7em -5em 0 red,
		-4em -5em 0 red,
		-3em -5em 0 black,
		-2em -5em 0 red,
		-1em -5em 0 red,
		0 -5em 0 black,

		-7em -4em 0 red,
		-4em -4em 0 black,
		-3em -4em 0 rgb(120,120,120),
		-2em -4em 0 black,
		-1em -4em 0 black,
		0 -4em 0 rgb(54,54,54),

		-7em -3em 0 rgb(120,120,120),
		-4em -3em 0 black,
		-3em -3em 0 rgb(54,54,54),
		-2em -3em 0 black,
		-1em -3em 0 black,
		0 -3em 0 black,

		-7em -2em 0 black,
		-5em -2em 0 black,
		-4em -2em 0 rgb(54,54,54),
		-3em -2em 0 black,
		-2em -2em 0 rgb(54,54,54),
		-1em -2em 0 black,
		0 -2em 0 black,
		1em -2em 0 rgb(54,54,54),

		-7em -1em 0 rgb(120,120,120),
		-5em -1em 0 rgb(54,54,54),
		-4em -1em 0 black,
		-3em -1em 0 black,
		-2em -1em 0 black,
		-1em -1em 0 rgb(54,54,54),
		0 -1em 0 black,
		1em -1em 0 black,

		-7em 0 0 black,
		-3em 0 0 rgb(120,120,120),
		-2em 0 0 rgb(120,120,120),
		-1em 0 0 rgb(120,120,120),

		-7em 1em 0 black,
		-6em 1em 0 black,
		-5em 1em 0 black,
		-4em 1em 0 rgb(120,120,120),
		-3em 1em 0 black,
		-2em 1em 0 black,
		-1em 1em 0 black,
		0 1em 0 rgb(120,120,120),

		-5em 2em 0 rgb(54,54,54),
		-4em 2em 0 black,
		-3em 2em 0 black,
		-2em 2em 0 black,
		-1em 2em 0 black,
		0 2em 0 black,
		1em 2em 0 black,

		-5em 3em 0 rgb(54,54,54),
		-4em 3em 0 black,
		-3em 3em 0 rgb(120,120,120),
		-2em 3em 0 red,
		-1em 3em 0 black,
		0 3em 0 rgb(54,54,54),
		1em 3em 0 black,

		-5em 4em 0 rgb(54,54,54),
		-4em 4em 0 black,
		-3em 4em 0 black,
		-2em 4em 0 black,
		-1em 4em 0 black,
		0 4em 0 rgb(54,54,54),
		1em 4em 0 black,

		-4em 5em 0 black,
		-3em 5em 0 rgb(120,120,120),
		-2em 5em 0 rgb(120,120,120),
		-1em 5em 0 black,
		0 5em 0 rgb(54,54,54),
		1em 5em 0 black,

		-4em 6em 0 black,
		-3em 6em 0 black,
		-2em 6em 0 black,
		-1em 6em 0 black,
		0 6em 0 rgb(54,54,54),
		1em 6em 0 black,
		2em 6em 0 rgb(54,54,54),

		-4em 7em 0 black,
		-3em 7em 0 rgb(54,54,54),
		-2em 7em 0 rgb(54,54,54),
		-1em 7em 0 black,
		0 7em 0 rgb(54,54,54),
		1em 7em 0 rgb(54,54,54),
		2em 7em 0 rgb(54,54,54),

		-4em 8em 0 black,
		-2em 8em 0 rgb(54,54,54),
		-1em 8em 0 black,
		0 8em 0 rgb(54,54,54),
		1em 8em 0 rgb(54,54,54),
		2em 8em 0 rgb(54,54,54),
		3em 8em 0 rgb(54,54,54),

		-5em 9em 0 black,
		-4em 9em 0 black,
		-2em 9em 0 black,
		-1em 9em 0 black;
}

.storm-trooper {
	height: 1em;
	width: 1em;
	position: absolute;
	top: 30px;
	left: 22px;
	font-size: 4px;

	/* Body */
	box-shadow:
		-4em -6em 0 rgb(230,230,230),
		-3em -6em 0 rgb(230,230,230),
		-2em -6em 0 rgb(230,230,230),
		-1em -6em 0 rgb(230,230,230),

		-4em -5em 0 black,
		-3em -5em 0 black,
		-2em -5em 0 black,
		-1em -5em 0 black,

		-4em -4em 0 black,
		-3em -4em 0 rgb(230,230,230),
		-2em -4em 0 black,
		-1em -4em 0 rgb(230,230,230),

		-5em -3em 0 rgb(230,230,230),
		-4em -3em 0 rgb(230,230,230),
		-3em -3em 0 rgb(180,180,180),
		-2em -3em 0 rgb(230,230,230),
		-1em -3em 0 rgb(230,230,230),
		0 -3em 0 rgb(230,230,230),

		-5em -2em 0 rgb(230,230,230),
		-4em -2em 0 rgb(180,180,180),
		-3em -2em 0 rgb(230,230,230),
		-2em -2em 0 rgb(180,180,180),
		-1em -2em 0 rgb(230,230,230),
		0 -2em 0 rgb(180,180,180),

		-5em -1em 0 rgb(230,230,230),
		-4em -1em 0 rgb(230,230,230),
		-3em -1em 0 black,
		-2em -1em 0 rgb(230,230,230),
		-1em -1em 0 rgb(230,230,230),
		0 -1em 0 rgb(230,230,230),

		-9em 0 0 black,
		-8em 0 0 black,
		-4em 0 0 rgb(54,54,54),
		-3em 0 0 black,
		-2em 0 0 rgb(54,54,54),
		-1em 0 0 rgb(230,230,230),

		-12em 1em 0 black,
		-11em 1em 0 black,
		-10em 1em 0 black,
		-9em 1em 0 black,
		-8em 1em 0 black,
		-7em 1em 0 black,
		-5em 1em 0 rgb(230,230,230),
		-4em 1em 0 rgb(230,230,230),
		-3em 1em 0 rgb(230,230,230),
		-2em 1em 0 rgb(230,230,230),
		-1em 1em 0 rgb(230,230,230),
		0 1em 0 rgb(230,230,230),

		-10em 2em 0 black,
		-9em 2em 0 rgb(230,230,230),
		-8em 2em 0 black,
		-7em 2em 0 rgb(230,230,230),
		-6em 2em 0 rgb(230,230,230),
		-5em 2em 0 rgb(230,230,230),
		-4em 2em 0 rgb(230,230,230),
		-3em 2em 0 rgb(230,230,230),
		-2em 2em 0 rgb(230,230,230),
		-1em 2em 0 rgb(230,230,230),
		0 2em 0 rgb(230,230,230),
		1em 2em 0 rgb(230,230,230),
		2em 2em 0 rgb(230,230,230),

		-8em 3em 0 black,
		-4em 3em 0 rgb(230,230,230),
		-3em 3em 0 rgb(230,230,230),
		-2em 3em 0 rgb(230,230,230),
		-1em 3em 0 rgb(230,230,230),
		2em 3em 0 rgb(230,230,230),

		-5em 4em 0 rgb(230,230,230),
		-4em 4em 0 rgb(180,180,180),
		-3em 4em 0 rgb(230,230,230),
		-2em 4em 0 rgb(180,180,180),
		-1em 4em 0 rgb(230,230,230),
		0 4em 0 rgb(180,180,180),
		2em 4em 0 rgb(230,230,230),

		-5em 5em 0 rgb(230,230,230),
		-4em 5em 0 rgb(180,180,180),
		-3em 5em 0 rgb(230,230,230),
		-2em 5em 0 rgb(180,180,180),
		-1em 5em 0 rgb(230,230,230),
		0 5em 0 rgb(180,180,180),
		2em 5em 0 black,

		-4em 6em 0 black,
		-3em 6em 0 rgb(230,230,230),
		-2em 6em 0 rgb(230,230,230),
		-1em 6em 0 black,
		2em 6em 0 rgb(230,230,230),

		-4em 7em 0 rgb(230,230,230),
		-1em 7em 0 rgb(230,230,230),

		-4em 8em 0 rgb(230,230,230),
		-1em 8em 0 rgb(230,230,230),

		-5em 9em 0 rgb(230,230,230),
		-4em 9em 0 rgb(230,230,230),
		-2em 9em 0 rgb(230,230,230),
		-1em 9em 0 rgb(230,230,230),

		-5em 10em 0 rgb(180,180,180),
		-4em 10em 0 rgb(180,180,180),
		-2em 10em 0 rgb(180,180,180),
		-1em 10em 0 rgb(180,180,180);
}

.fet {
	height: 1em;
	width: 1em;
	position: absolute;
	top: 23px;
	left: 24px;
	font-size: 4px;

	box-shadow:
		-6em -7em 0 black,
		-5em -7em 0 black,

		-6em -6em 0 rgb(180,180,180),

		-6em -5em 0 rgb(180,180,180),

		-6em -4em 0 rgb(180,180,180),
		-5em -4em 0 rgb(95,110,75),
		-4em -4em 0 rgb(95,110,75),
		-3em -4em 0 rgb(95,110,75),
		-2em -4em 0 rgb(95,110,75),
		1em -4em 0 rgb(54,54,54),

		-6em -3em 0 rgb(95,110,75),
		-5em -3em 0 rgb(95,110,75),
		-4em -3em 0 rgb(95,110,75),
		-3em -3em 0 rgb(95,110,75),
		-2em -3em 0 rgb(95,110,75),
		-1em -3em 0 rgb(95,110,75),
		1em -3em 0 rgb(54,54,54),
		2em -3em 0 rgb(54,54,54),

		-6em -2em 0 black,
		-5em -2em 0 black,
		-4em -2em 0 black,
		-3em -2em 0 black,
		-2em -2em 0 rgb(140,0,15),
		-1em -2em 0 rgb(95,110,75),
		1em -2em 0 rgb(54,54,54),

		-6em -1em 0 rgb(140,0,15),
		-5em -1em 0 black,
		-4em -1em 0 rgb(140,0,15),
		-3em -1em 0 rgb(140,0,15),
		-2em -1em 0 black,
		-1em -1em 0 rgb(95,110,75),
		1em -1em 0 rgb(54,54,54),

		-14em 0 0 black,
		-13em 0 0 black,
		-12em 0 0 black,
		-6em 0 0 rgb(140,0,15),
		-5em 0 0 black,
		-4em 0 0 rgb(140,0,15),
		-3em 0 0 rgb(180,180,180),
		-2em 0 0 black,
		-1em 0 0 rgb(95,110,75),
		1em 0 0 rgb(95,110,75),

		-13em 1em 0 black,
		-6em 1em 0 rgb(140,0,15),
		-5em 1em 0 black,
		-4em 1em 0 rgb(140,0,15),
		-3em 1em 0 rgb(180,180,180),
		-2em 1em 0 rgb(180,180,180),
		-1em 1em 0 rgb(95,110,75),
		0 1em 0 rgb(95,110,75),
		1em 1em 0 rgb(95,110,75),

		-17em 2em 0 black,
		-16em 2em 0 black,
		-15em 2em 0 black,
		-14em 2em 0 black,
		-13em 2em 0 black,
		-12em 2em 0 black,
		-5em 2em 0 rgb(100,60,30),
		-4em 2em 0 rgb(100,60,30),
		-3em 2em 0 rgb(100,60,30),
		-2em 2em 0 rgb(100,60,30),
		-1em 2em 0 rgb(100,60,30),
		0 2em 0 rgb(95,110,75),
		1em 2em 0 rgb(95,110,75),

		-15em 3em 0 black,
		-14em 3em 0 black,
		-13em 3em 0 black,
		-12em 3em 0 black,
		-11em 3em 0 black,
		-6em 3em 0 rgb(240,130,25),
		-5em 3em 0 rgb(180,180,180),
		-4em 3em 0 rgb(180,180,180),
		-3em 3em 0 rgb(180,180,180),
		-2em 3em 0 rgb(180,180,180),
		-1em 3em 0 rgb(240,130,25),
		0 3em 0 rgb(100,60,30),
		1em 3em 0 rgb(95,110,75),

		-11em 4em 0 rgb(180,180,180),
		-10em 4em 0 rgb(95,110,75),
		-9em 4em 0 rgb(95,110,75),
		-8em 4em 0 rgb(180,180,180),
		-7em 4em 0 rgb(240,130,25),
		-6em 4em 0 rgb(240,130,25),
		-5em 4em 0 rgb(95,110,75),
		-4em 4em 0 rgb(95,110,75),
		-3em 4em 0 rgb(95,110,75),
		-2em 4em 0 rgb(95,110,75),
		-1em 4em 0 rgb(240,130,25),
		0 4em 0 rgb(240,130,25),
		1em 4em 0 rgb(95,110,75),

		-11em 5em 0 black,
		-5em 5em 0 rgb(95,110,75),
		-4em 5em 0 rgb(95,110,75),
		-3em 5em 0 rgb(95,110,75),
		-2em 5em 0 rgb(95,110,75),
		-1em 5em 0 rgb(100,60,30),
		0 5em 0 rgb(180,180,180),
		1em 5em 0 rgb(95,110,75),

		-5em 6em 0 rgb(180,180,180),
		-4em 6em 0 rgb(95,110,75),
		-3em 6em 0 rgb(95,110,75),
		-2em 6em 0 rgb(180,180,180),
		-1em 6em 0 rgb(100,60,30),
		0 6em 0 rgb(95,110,75),

		-5em 7em 0 rgb(100,60,30),
		-4em 7em 0 rgb(100,60,30),
		-3em 7em 0 rgb(100,60,30),
		-2em 7em 0 rgb(100,60,30),
		-1em 7em 0 rgb(100,60,30),
		0 7em 0 rgb(180,180,180),

		-5em 8em 0 rgb(180,180,180),
		-4em 8em 0 rgb(95,110,75),
		-3em 8em 0 rgb(95,110,75),
		-2em 8em 0 rgb(180,180,180),
		-1em 8em 0 rgb(100,60,30),
		0 8em 0 rgb(100,60,30),

		-5em 9em 0 rgb(180,180,180),
		-2em 9em 0 rgb(180,180,180),
		-1em 9em 0 rgb(100,60,30),
		0 9em 0 rgb(100,60,30),

		-5em 10em 0 rgb(240,130,25),
		-2em 10em 0 rgb(240,130,25),
		-1em 10em 0 rgb(100,60,30),
		0 10em 0 rgb(100,60,30),

		-5em 11em 0 rgb(180,180,180),
		-2em 11em 0 rgb(180,180,180),
		0 11em 0 rgb(100,60,30),

		-6em 12em 0 rgb(54,54,54),
		-5em 12em 0 rgb(54,54,54),
		-3em 12em 0 rgb(54,54,54),
		-2em 12em 0 rgb(54,54,54);
}

.ally {
	height: 1em;
	width: 1em;
	position: absolute;
	top: 40px;
	left: 12px;
	font-size: 4px;
	transform: rotateY(180deg);

	box-shadow:

		-2em -9em 0 rgb(117,76,36),
		-1em -9em 0 rgb(117,76,36),
		0 -9em 0 rgb(117,76,36),

		-3em -8em 0 rgb(117,76,36),
		-2em -8em 0 rgb(117,76,36),
		-1em -8em 0 rgb(252,198,137),
		0 -8em 0 rgb(117,76,36),
		1em -8em 0 rgb(117,76,36),

		-5em -7em 0 rgb(117,76,36),
		-4em -7em 0 rgb(117,76,36),
		-3em -7em 0 rgb(117,76,36),
		-2em -7em 0 rgb(252,198,137),
		-1em -7em 0 rgb(252,198,137),
		0 -7em 0 rgb(252,198,137),
		1em -7em 0 rgb(117,76,36),
		2em -7em 0 rgb(117,76,36),
		3em -7em 0 rgb(117,76,36),

		-5em -6em 0 rgb(117,76,36),
		-4em -6em 0 rgb(117,76,36),
		-3em -6em 0 rgb(252,198,137),
		-2em -6em 0 rgb(3,3,3),
		-1em -6em 0 rgb(252,198,137),
		0 -6em 0 rgb(3,3,3),
		1em -6em 0 rgb(252,198,137),
		2em -6em 0 rgb(117,76,36),
		3em -6em 0 rgb(117,76,36),

		-4em -5em 0 rgb(117,76,36),
		-3em -5em 0 rgb(252,198,137),
		-2em -5em 0 rgb(252,198,137),
		-1em -5em 0 rgb(252,198,137),
		0 -5em 0 rgb(252,198,137),
		1em -5em 0 rgb(252,198,137),
		2em -5em 0 rgb(117,76,36),

		-2em -4em 0 rgb(252,198,137),
		-1em -4em 0 rgb(242,108,79),
		0 -4em 0 rgb(242,108,79),
		6em -4em 0 rgb(3,3,3),
		7em -4em 0 rgb(3,3,3),
		8em -4em 0 rgb(3,3,3),
		9em -4em 0 rgb(3,3,3),
		10em -4em 0 rgb(3,3,3),

		-2em -3em 0 rgb(180,226,245),
		-1em -3em 0 rgb(180,226,245),
		4em -3em 0 rgb(3,3,3),
		5em -3em 0 rgb(3,3,3),
		6em -3em 0 rgb(3,3,3),
		7em -3em 0 rgb(3,3,3),
		8em -3em 0 rgb(3,3,3),

		-3em -2em 0 rgb(180,226,245),
		-2em -2em 0 rgb(180,226,245),
		-1em -2em 0 rgb(180,226,245),
		0 -2em 0 rgb(180,226,245),
		1em -2em 0 rgb(180,226,245),
		2em -2em 0 rgb(180,226,245),
		3em -2em 0 rgb(180,226,245),
		4em -2em 0 rgb(180,226,245),
		5em -2em 0 rgb(252,198,137),

		-4em -1em 0 rgb(180,226,245),
		-3em -1em 0 rgb(180,226,245),
		-2em -1em 0 rgb(180,226,245),
		-1em -1em 0 rgb(180,226,245),
		0 -1em 0 rgb(180,226,245),
		2em -1em 0 rgb(180,226,245),
		3em -1em 0 rgb(180,226,245),
		4em -1em 0 rgb(180,226,245),
		5em -1em 0 rgb(3,3,3),

		-5em 0 0 rgb(180,226,245),
		-4em 0 0 rgb(180,226,245),
		-2em 0 0 rgb(117,76,36),
		-1em 0 0 rgb(117,76,36),
		4em 0 0 rgb(180,226,245),

		-6em 1em 0 rgb(180,226,245),
		-5em 1em 0 rgb(180,226,245),
		-2em 1em 0 rgb(180,226,245),
		-1em 1em 0 rgb(180,226,245),

		-6em 2em 0 rgb(180,226,245),
		-5em 2em 0 rgb(252,198,137),
		-3em 2em 0 rgb(180,226,245),
		-2em 2em 0 rgb(180,226,245),
		-1em 2em 0 rgb(180,226,245),
		0 2em 0 rgb(180,226,245),

		-3em 3em 0 rgb(180,226,245),
		-2em 3em 0 rgb(180,226,245),
		-1em 3em 0 rgb(180,226,245),
		0 3em 0 rgb(180,226,245),

		-4em 4em 0 rgb(180,226,245),
		-3em 4em 0 rgb(180,226,245),
		-2em 4em 0 rgb(180,226,245),
		-1em 4em 0 rgb(180,226,245),
		0 4em 0 rgb(180,226,245),

		-4em 5em 0 rgb(180,226,245),
		-3em 5em 0 rgb(180,226,245),
		-2em 5em 0 rgb(180,226,245),
		-1em 5em 0 rgb(180,226,245),
		0 5em 0 rgb(180,226,245),

		-4em 6em 0 rgb(180,226,245),
		-3em 6em 0 rgb(180,226,245),
		-2em 6em 0 rgb(180,226,245),
		-1em 6em 0 rgb(180,226,245),
		0 6em 0 rgb(180,226,245),

		-3em 7em 0 rgb(180,226,245),
		-2em 7em 0 rgb(180,226,245),
		0 7em 0 rgb(180,226,245),
		1em 7em 0 rgb(180,226,245);
}