body {
	font-family: sans-serif;
	width: 1000px;
	margin: 0 auto;
	padding-top: 100px;
	background: rgb(39, 40, 34);
}

body.red .lives {
	color: rgb(247, 35, 114);
}
body.red .han-solo-container {
	border-color: rgb(247, 35, 114);
}

.han-solo-container {
	width: 100%;
	overflow: hidden;
	height: 500px;
	background-color: rgb(39, 40, 34);
	position: relative;
	margin-top: 10px;
	box-sizing: border-box;
	border: 1px solid rgb(118, 113, 94);
}

.gameOver {
	width: 200px;
	background-color: rgb(39, 40, 34);
	border-radius: 3px;
	text-align: center;
	padding: 20px;
	color: rgb(118, 113, 94);
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -120px;
	display: none;
	border: 1px solid rgb(118, 113, 94);
	z-index: 100;
}

.gameOver .title {
	font-size: 24px;
	margin-bottom: 40px;
	color: #fff;
	font-weight: bold;
}

.gameOver .refresh {
	font-size: 10px;
	margin-top: 40px;
	color: #fff;
}

.warning {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgb(247, 35, 114);
	color: white;
	padding: 10px;
	border-radius: 3px;
	z-index: 10;
	display: none;
}

.scoreboard {
	padding: 20px 0;
	color: rgba(255,255,255,0.5);
	font-size: 28px;
}

.number {
	color: rgba(255,255,255,0.8);
	font-weight: bold;
}

.createdBy {
	float: right;
	font-size: 10px;
}

.character {
	height: 75px;
	width: 26px;
	position: absolute;
	top: 200px;
	left: 300px;
	transition: opacity 0.1s;
}

.character.dim {
	opacity: 0.3;
}

.controls {
	padding: 10px;
	color: rgb(118, 113, 94);
	border: 1px solid rgb(118, 113, 94);
}

.controls .right {
	float: right;
}

.legend .group {
	border: 1px solid rgb(118, 113, 94);
	margin: 10px 10px 10px 0;
	padding: 5px 10px 10px;
	display: inline-block;
}

.group .group-title {
	width: 100%;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 10px;
	color: rgb(118, 113, 94);
}

.group .character {
	position: relative;
	top: 0;
  left: 0;
	margin-right: 35px;
	margin-left: 5px;
}

.group .enemy {
	position: relative;
	float: left;
	margin-right: 20px;
}

.group .enemy.right {
	margin-right: 30px;
	margin-left: 5px;
}

.group .enemy-fet {
	margin-left: 50px;
	margin-right: 20px;
}

.group .enemy-storm-trooper {
	margin-left: 30px;
}

.start-menu {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	z-index: 100;
}

.start-button {
	border: none;
	background: rgb(110, 201, 44);
	padding: 10px 15px;
	border-radius: 5px;
	color: rgb(39, 40, 34);
	font-weight: bold;
	font-size: 24px;
	cursor: pointer;
	outline: none;
}

.start-button:hover,
.start-button:focus {
	background: rgb(167, 228, 46);
}

.character.rotate .buzz {
	transform: rotateY(180deg);
	right: 24px;
}

.enemy.right .ghost-purple {
	transform: rotateY(180deg);
	left: 8px;
}

.enemy.right .ghost-orange {
	transform: rotateY(180deg);
	left: 8px;
}

.enemy.right .ghost-blue {
	transform: rotateY(180deg);
	left: 8px;
}

.character.rotate .han-solo {
	transform: rotateY(180deg);
	right: 18px;
}

.bullet {
	height: 4px;
	width: 40px;
	background-color: rgb(167, 228, 46);
	box-shadow: 0 0 10px rgba(167, 228, 46, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 2px;
}

.enemy {
	height: 75px;
	width: 36px;
	position: absolute;
	top: 0;
	left: 0;
}

.enemy.die {
	transition: 0.1s;
	opacity: 0;
	transform: scale(1.1, 1.05);
}

.enemy.right .vader {
	transform: rotateY(180deg);
	left: 12px;
}

.enemy.right .fet {
	transform: rotateY(180deg);
	left: 7px;
}

.enemy.right .storm-trooper {
	transform: rotateY(180deg);
	left: 10px;
}

.enemy.right .ally {
	transform: none;
	left: 20px;
}

.remove {
	display: none;
}
